*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 14px; /* 1rem */
}
body{
  
}
.container{
    max-width:900px;
    margin:0 auto;
}
.fejlec{
    background: url(../img/logo.jpg);
}
